@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.home-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 750px;
  margin: auto;
}
.home-border {
  border-radius: 8px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 20px 20px 0px #00000014;
  box-shadow: 0px 0px 2px 0px #0000001f;
  height: 264px;
}
.home-h1 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  color: #54595e;

  margin-left: 40px;
  margin-bottom: 16px;
}
.home-submit {
  width: 180px;
  height: 44px;
  padding: 14px 20px;
  border-radius: 8px;
  border: 0px;
  background-color: #3b75a2;
  transition: background-color 0.15s ease-in-out;
}
.home-submit:hover {
  background-color: #2d597a;
}
.home-label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #4f4f4f;
}
.home-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.home-image {
  margin: 10px 10px 0 0;
  align-self: flex-end;
  cursor: pointer;
}
.home-input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;

  margin-right: 40px;
  width: 670px;
  height: 44px;
  padding: 14px 16px;

  color: black;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}
.form-buttons {
  display: flex;
  margin-top: 36px;
  margin-right: 40px;
  gap: 16px;
  justify-content: end;
}
.home-image {
  text-align: right;
  align-self: flex-end;
}
@media (max-width: 780px) {
  .home-border {
    max-width: 500px;
  }
  .home-input {
    width: 420px;
  }
}
@media (max-width: 520px) {
  .home-border {
    max-width: 350px;
  }
  .home-input {
    width: 270px;
  }
  .home-submit {
    padding: 5px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0d1421;
  max-width: 1200px;
  margin-left: 17px;
  margin-top: 17px;
  margin: auto;
}
ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: center;
}
.circle {
  width: 38px;
  height: 38px;
  border: 1px solid #3b75a2;
  background-color: #3b75a2;
  border-radius: 10em;

  color: #ffffff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 13.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}
.header-section {
  cursor: pointer;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 13.5px;
  text-align: left;
  color: #0d1421;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header-name {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 13.5px;
  text-align: left;

  margin-top: 2px;
}
.gen-diver-mains {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.gen-main {
  display: flex;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .gen-diver-mains {
    flex-direction: column;
    justify-content: space-around;
  }
  .gen-main {
    height: 360px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.gen-h1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #212529;
  margin-bottom: 8px;
}
.gen-label {
  font-family: Inter;
  font-size: 15.38px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #212529;
  display: flex;
  align-items: center;
}
.gen-div {
  display: flex;
  flex-direction: column;
}
.gen-length-input {
  width: 600px;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  background-color: white;
  color: black;
  margin-bottom: 14px;
}
.gen-checkbox-input {
  color-scheme: light;
  accent-color: #3b75a2;
}
.gen-button {
  margin-top: 16px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  width: 210px;
  height: 38px;
  padding: 0px 10px;
  border-radius: 4px;
  border: 0px;
  background-color: #3b75a2;
  transition: background-color 0.15s ease-in-out;
}

.gen-password-box {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  transition: all 0.15s ease-in-out;
}
.gen-password-section {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 550px;
  top: 80px;
  left: 644px;
  padding: 4px 21px;
  gap: 0px;

  border: 1px solid #00000021;
}
@media (max-width: 620px) {
  .gen-length-input {
    width: 500px;
  }
  .gen-password-section {
    width: 330px;
  }
  .gen-password-box {
    margin-left: 5px;
  }
  header {
    margin-left: 10px;
    margin-top: 10px;
  }
  ul {
    gap: 20px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .gen-length-input {
    width: 350px;
  }
  .gen-password-section {
    width: 330px;
  }
  .gen-password-box {
    margin-left: 5px;
  }
  header {
    margin-left: 5px;
  }
  ul {
    gap: 5px;
  }
}
.gen-password-copy {
  background-color: white;
  border: 0px;
  cursor: pointer;
}
.gen-password-name {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #212529;

  word-wrap: break-word;
  word-break: break-all;
}

/* Calculator container */
.calculator {
  margin-top: 50px;
  width: 438px;
  background: #f1f2f3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: auto;
}

/* Display section */
.calculator-article-container {
  min-height: 150px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  margin-bottom: 20px;

  word-wrap: break-word;
  word-break: break-all;
}

.calculator-text-large {
  font-family: Inter;
  font-size: 96px;
  font-weight: 300;
  line-height: 96px;
  text-align: right;
}

.calculator-text-small {
  font-family: Inter;
  font-size: 40px;
  font-weight: 300;
  line-height: 46.92px;
  text-align: right;

  color: #6d6d6d;
}

/* Buttons Grid */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensures 4 buttons per row */
  gap: 10px; /* Creates spacing between buttons */
  width: 100%;
}

.calculator-button {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;

  width: 87.5px;
  height: 72px;

  background-color: #fff;
  border-radius: 24px;
  color: #000;
  border: 0px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-button:hover {
  background-color: #e0e0e0;
  transform: scale(0.98);
}
.calculator-button-top {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;

  width: 87.5px;
  height: 72px;

  background-color: #d2d3da;
  border-radius: 24px;
  color: #000;
  border: 0px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-button-top:hover {
  background-color: rgb(184, 184, 184);
  transform: scale(0.98);
}

/* Action Buttons */
.calculator-action-button {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;

  width: 87.5px;
  height: 72px;

  border-radius: 24px;
  color: #000;
  border: 0px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b75a2;
  color: white;
}

.calculator-action-button:hover {
  background-color: #2e5f85;
  transform: scale(0.98);
}

/* Larger screen adjustments */
@media (min-width: 768px) {
  .calculator {
    width: 428px;
  }

  .calculator-button {
    height: 70px;
    font-size: 1.7rem;
  }

  .calculator-equal-button {
    height: 70px;
    font-size: 1.7rem;
  }
}
